<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}Login Page{% endblock %}</title>

    <style>
      .container {
        width: 20%;
        margin-top: 70px;
        margin-bottom: 25px;
      }
    </style>

</head>
<body>
<!--    navigation bar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-steel">
  <a class="navbar-brand" href="/login">Warehouse Management</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</nav>
<div class="container">
<div class="header">
    <h1><strong>{% block header %}Login Page{% endblock %}</strong></h1>
</div>
<br>

  {# get_flashed_messages() is auto sent to the template with the flash() call #}
      {% for mess in get_flashed_messages()  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="fade-close close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
        </div>
      {% endfor %}
  {% block content %}
    <form action = "#" method = "POST">
        {{ form.hidden_tag() }}
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
        <br>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
        <br>
        {{ form.type.label(class="form-label") }}
        {{ form.type(class="form-control") }}
        <br>
      <button type="submit" name="button1" class="button">Login</button>
  </form>
 {% endblock %}
</div>
{% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>