<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
      <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
    <title>{% block title %}Damage Out Page{% endblock %}</title>
    <style>
        .container{
        margin-right: auto;
        margin-left: auto;
        width: 40%;
        }
        .header {
        padding: 30px;
        margin-left: 90px;
        }
    </style>

</head>
<body>
<!--    navigation bar-->
<nav class="navbar bg-steel">
<a class="navbar-brand" href="{{ url_for('staffhome') }}">Warehouse Management</a>
  <div id="navbarNav">
    <ul class="navbar-nav" id="navbarUL">
        <li class="nav-item navBarIL"><a class="nav-link navA" href="{{ url_for('staffprofile') }}">Profile</a></li>
        <li class="nav-item navBarIL"><a class="nav-link navA" href="{{ url_for('logout') }}">Logout</a></li>
    </ul>
  </div>
</nav>
<div class="sidebar">
    <a class="active" href="{{ url_for('suppliermenu') }}">Supplier</a>
    <a class="active" href="{{ url_for('storemenu') }}">Store</a>
    <a class="active" href="{{ url_for('stockmenu') }}">Stocks</a>
</div>
<div class="container">
<div class="header">
    <h1><strong>{% block header %}Damaged Out Page{% endblock %}</strong></h1>
</div>
<br>

  {# get_flashed_messages() is auto sent to the template with the flash() call #}
      {% for mess in get_flashed_messages()  %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button type="button" class="fade-close close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
        </div>
      {% endfor %}
    {% block content %}
        <form action = "/remove" method = "POST" onsubmit="return myFunction()">
            <label class="form-label" >Product SKU:</label>
            <select class="form-control" name=sku method="GET">
            {% for p in prod %}
            <option value="{{ p[0] }}">{{ p[0] }}</option>
            {% endfor %}
            </select>
            <br>
            {{ form.hidden_tag() }}
            {{ form.quantity.label(class="form-label") }}
            {{ form.quantity(class="form-control") }}
            <br>
            <button type="submit" name="button1" class="button1">Remove Stocks</button>
        </form>
    <br><br>
    <a href="/stockmenu">Return to previous page</a>
    {% endblock %}
</div>
{% block scripts %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% endblock %}
</body>
</html>